[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/tue-robotics/rapidjson.git
[submodule "3rdparty/polypartition"]
	path = 3rdparty/polypartition
	url = https://github.com/tue-robotics/polypartition.git
