<?xml version="1.0"?>

<launch>

<!-- TOP KINECT -->
<include file="$(find amigo_launch_files)/launch/sensors/top_kinect.launch"/>

<!-- RGBD SERVER -->
<node name="rgbd" pkg="rgbd" type="rgbd_server" output="screen">
    <remap from="rgb_image" to="/amigo/top_kinect/rgb/image_color" />
    <remap from="depth_image" to="/amigo/top_kinect/depth_registered/image" />
    <remap from="cam_info" to="/amigo/top_kinect/rgb/camera_info" />
    <remap from="output" to="/amigo/top_kinect/rgbd" />
    <param name="max_fps" value="30" />
</node>

<node pkg="tf" type="static_transform_publisher" name="static_top_kinect_tf_pub" args="0 0 1.08 1.57 3.1415 1.1 /map /amigo/top_kinect/openni_rgb_optical_frame 100" />


</launch>
